body
{
	font-family: Arial;
	font-size:14px;
	line-height:1,6;
}

.button
{
  background: black;
  padding: 1em 2em;
  color:#fff;
  border: 0; 	
}


.button:hover
{
  	background:#333;
}


.modal
{
  	display:none;
  	position: fixed;
  	z-index:1;
  	left:0;
  	height: 100%;
  	width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  
}


.modal-content
{
  	background-color:#f4f4f4;
  	margin : 20% auto;
  	padding: 20px;
    width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17)
  
}

.closeBtn
{
  	color:#ccc;
  	float: right;
    font-size:30px;
}

.closeBtn:hover,.closeBtn:focus
{
  	color:#000;
    text-decoration:none;
  	cursor:pointer;
}




